Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

fixed
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/test/bird_search_functions_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/help_icon_model_functions_test.dart
Due: flutter

Profile page almost finished
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/test/heat_map_test.dart
Due: flutter

Removed old gautengbirdspeciescontroller
  dotnet/BeakPeek.Tests/.gitignore
  dotnet/BeakPeek.Tests/BeakPeek.Tests.csproj
  dotnet/BeakPeek.Tests/GlobalUsings.cs
  dotnet/BeakPeek.Tests/GuatengBirdSpeciesControllerTest.cs
  dotnet/BeakPeek.Tests/UnitTest1.cs
  dotnet/BeakPeekApi.Tests/Controllers/GuatengBirdSpeciesControllerTest.cs
  dotnet/BeakPeekApi.Tests/Controllers/GuatengBirdSpeciesControllerTest.cs.bak
  dotnet/BeakPeekApi/Controllers/GuatengBirdSpeciesController.cs
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/Models/GautengBirdSpecies.cs
Due: dotnet

More test
  beakpeek/lib/View/Home/home.dart
  beakpeek/test/help_icon_model_functions_test.dart
  beakpeek/test/home_test.dart
Due: flutter

Fixed Tests
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/heat_map_info.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/help_icon_model_functions_test.dart
Due: flutter

Profile page styled
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

More testing
  beakpeek/test/home_test.dart
Due: flutter

Final commit for profile
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

SRS - tech choices
  doc/SRS_SoftwareRequirementSpecification/SRS v2.pdf
Due: none

Custom buttons back
  beakpeek/lib/Styles/custom_buttons.dart
Due: flutter

Finalised home page
  beakpeek/lib/View/bird_map.dart
  beakpeek/lib/main.dart
Due: flutter

For real this time
  beakpeek/lib/main.dart
Due: flutter

Test fix
  beakpeek/test/filterable_searchbar_test.dart
Due: flutter

resloving
  beakpeek/lib/View/Home/home.dart
Due: flutter

Final SRS for Demo 2
  doc/SRS_SoftwareRequirementSpecification/SRS v2.pdf
Due: none

Adding fix
  beakpeek/test/home_test.dart
Due: flutter

Adding fix
  beakpeek/test/filterable_searchbar_test.dart
Due: flutter

Last minute touch ups
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
Due: flutter

Final README commit
  README.md
Due: none
