Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

update 5 files and delete 2 files
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/lib/View/Sightings/sighting_widgets.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.mocks.dart
Due: flutter

🛠️fixed an issue with the flickr api key being set
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

💄 Added page indicator on landing pages
  beakpeek/lib/View/Login/landing_page.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

💄 Removed text from navbar
  beakpeek/lib/Model/nav.dart
Due: flutter

💄 Removed logo from home page and map page
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

🔥 Removed unecessary code
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

🔥 Removed unecessary code
  beakpeek/lib/Model/nav.dart
Due: flutter

➕Added dependencies
  dotnet/BeakPeekApi/BeakPeekApi.csproj
Due: dotnet

✨Feat: Added bird info and bird image url to Bird model
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Models/Dto.cs
Due: dotnet

✨Feat: Added an Azure blob storage service for uploading images
  dotnet/BeakPeekApi/Services/BlobStorageService.cs
Due: dotnet

✨Feat: Added a General functions helper class
  dotnet/BeakPeekApi/Helpers/General.cs
Due: dotnet

🔥Removed config code and used the general helper for setting the api key
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

✨Feat: Added more verbose logging
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

⬆️Updated some dependencies in the package.lock.json
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

➕Added some dependencies in the package.lock.json
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

🔧Updated the docker compose so that the sql database doesn't start up unless told to
  docker-compose.yml
Due: none

✨Feat: Added bird image helper to handle downloading and uploading images
  dotnet/BeakPeekApi/Helpers/BirdImageHelper.cs
Due: dotnet

🔧Added the blob, image and general services
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

🔨Added migration script for bird images
  dotnet/BeakPeekApi/Migrations/20240909132317_Images_Automation.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240909132317_Images_Automation.cs
Due: none

🎨Improved flow of code for when injecting a container client and added a namespace
  dotnet/BeakPeekApi/Services/BlobStorageService.cs
Due: dotnet

⚡Improved the excpetion message fow when a variable is set
  dotnet/BeakPeekApi/Helpers/General.cs
Due: dotnet

🔥Removed dead code for getting the api key
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

✨Feat: Added a mock class and DbContextMock class
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi.Tests/Mocks/DbContextMock.cs
  dotnet/BeakPeekApi.Tests/Mocks/Mocks.cs
Due: dotnet

🧪Test: Added tests for All the image automation features
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi.Tests/Controllers/BirdInfoControllerTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/BirdImageHelperTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/BirdInfoHelperTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/GeneralHelperTest.cs
  dotnet/BeakPeekApi.Tests/Services/BlobStorageServiceTest.cs
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Helpers/BirdImageHelper.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

🐛Fixed a bug where the services namespace was not included
  dotnet/BeakPeekApi/Helpers/BirdImageHelper.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

🔥Removed old workflow that is no longer used
  .github/workflows/main_beakpeekapi.yml
Due: none

⬆️Upgraded some dependencies for dotnet
  dotnet/BeakPeekApi.Tests/packages.lock.json
Due: dotnet

👷Made it so that all tests need to pass before deploying to Azure for dotnet
  .github/workflows/deploy_dotnet.yml
  .github/workflows/dotnet.yml
Due: none

🔧Changed the blob service configuration to use variable names without ":" in them
  dotnet/BeakPeekApi/Services/BlobStorageService.cs
Due: dotnet

🐛 update 6 files and fixing bugs
  appsettings.json
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

📝 doc: Arch Diagram Changes
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
  doc/UserTest/User Story BeakPeek.docx
Due: none

📝 doc: SRSv4 Draft added
  doc/SRS_SoftwareRequirementSpecification/SRSv4Draft.pdf
Due: none

⚡️Improve performance. Adding offline DB
  beakpeek/lib/Controller/DB/achievements_provider.dart
  beakpeek/lib/Controller/DB/birds_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
Due: flutter

🍱Add or update assets. ✨Introduce new features.
  beakpeek/assets/BirdList/allbirds.json
  beakpeek/lib/Controller/DB/birds_provider.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/main.dart
Due: flutter

💄 Changed landing tab images to local bird
  beakpeek/assets/images/landing1.png
  beakpeek/lib/View/Login/landing_tab_1.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
Due: flutter

📝 doc: Arch Diagram changes + Useability test feedback
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
  doc/UserTest/UseabilityTestFeedback.pdf
Due: none
