Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

Added functionality to retrieve the info and images of birds
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Models/BirdInfoDto.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed BirdInfor and docker file
  docker-compose.yml
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Controllers/BirdInfoController.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed API for bird info
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
  dotnet/BeakPeekApi/Models/BirdInfoModel.cs
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

fixed bird controller
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: dotnet

Profile page 90% done
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Bird page in progress
  beakpeek/lib/Styles/bird_page_styles.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
Due: flutter

Arch Diagram 90% complete
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
Due: none

Added global stylesheet
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/Styles/landing_page_styles.dart
  beakpeek/lib/View/Login/landing_tab_1.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Updated profile page styles and global styles
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/Styles/profile_page_styles.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Got Environment Variables working using appsettings.json
  dotnet/BeakPeekApi/.gitignore
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
  dotnet/BeakPeekApi/Program.cs
  dotnet/BeakPeekApi/appsettings.json
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

Fixed program.cs so that it runs normally
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Added tests for the bird info helper
  dotnet/BeakPeekApi.Tests/BeakPeekApi.Tests.csproj
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/BirdInfoHelperTest.cs
  dotnet/BeakPeekApi.Tests/packages.lock.json
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Controllers/BirdInfoController.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed the test for fetching images from flickr
  dotnet/BeakPeekApi.Tests/Helpers/BirdInfoHelperTest.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
  dotnet/BeakPeekApi/Models/BirdInfoModel.cs
Due: dotnet

Diagram Complete
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
Due: none

Added requested endpoints and matching tests
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: dotnet

Finished tests for controllers and endpoints including bird info
  dotnet/BeakPeekApi.Tests/Controllers/BirdInfoControllerTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/BirdInfoHelperTest.cs
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Controllers/BirdInfoController.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

Bird page and profile page done
  beakpeek/lib/Styles/bird_page_styles.dart
  beakpeek/lib/View/Home/bird_page.dart
Due: flutter

Testing out different methods to deploy the api and do migrations
  .github/workflows/main_beakpeekapi.yml
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

fixed a problem with the workflow running in the wrong directory
  .github/workflows/main_beakpeekapi.yml
Due: none

Changed the dotnet ef to use a better non aliased name
  .github/workflows/main_beakpeekapi.yml
Due: none

added a tool manifest
  .github/workflows/main_beakpeekapi.yml
Due: none

changed to the correct project folder
  .github/workflows/main_beakpeekapi.yml
Due: none

Added an appsettings that can be used for dotnet workflows
  .github/workflows/main_beakpeekapi.yml
  appsettings.json
Due: none

Added azure login for workflow
  .github/workflows/main_beakpeekapi.yml
Due: none

Added correct permission for workflow
  .github/workflows/main_beakpeekapi.yml
Due: none

Update After Meeting Ayaaz
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
Due: none

Added the write environment
  .github/workflows/main_beakpeekapi.yml
Due: none

SRSv3 added
  doc/SRS_SoftwareRequirementSpecification/SRSv3.pdf
Due: none

changed connection string to environment variable
  .github/workflows/main_beakpeekapi.yml
Due: none

Fixed the sectrets of the deploy workflow
  .github/workflows/main_beakpeekapi.yml
Due: none

removed subscription id
  .github/workflows/main_beakpeekapi.yml
Due: none

Added endpoints to get the provinces that a bird appears in
  dotnet/.gitignore
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi/.vscode/launch.json
  dotnet/BeakPeekApi/.vscode/tasks.json
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet
