Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

Removed Program.cs from being considered for codecov
  codecov.yml
Due: none

Fixing some coverage problems
  dotnet/BeakPeekApi.Tests/Helpers/CsvImporterTest.cs
Due: dotnet

Changes to formatting of Arch Diagram
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
Due: none

Testing
  beakpeek/test/user_profile_test.dart
Due: flutter

Coverd ImportAllCsv with a test
  dotnet/BeakPeekApi.Tests/Helpers/CsvImporterTest.cs
  dotnet/BeakPeekApi.Tests/testData/easterncape.csv
  dotnet/BeakPeekApi.Tests/testData/freestate.csv
  dotnet/BeakPeekApi.Tests/testData/gauteng.csv
  dotnet/BeakPeekApi.Tests/testData/kwazulu-natal.csv
  dotnet/BeakPeekApi.Tests/testData/limpopo.csv
  dotnet/BeakPeekApi.Tests/testData/mpumalanga.csv
  dotnet/BeakPeekApi.Tests/testData/northerncape.csv
  dotnet/BeakPeekApi.Tests/testData/northwest.csv
Due: dotnet

Improved filter buttons on home page
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

Improved styling for bird of the day
  beakpeek/lib/View/Home/home.dart
Due: flutter

Improved home page styling
  beakpeek/assets/images/home.png
  beakpeek/assets/images/map.png
  beakpeek/lib/View/Home/home.dart
Due: flutter

Home Button
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/test/user_profile_test.dart
Due: flutter

Made the test for my heat map
  beakpeek/test/heat_map_test.dart
Due: flutter

help icon fixes
  beakpeek/lib/View/Home/home.dart
Due: flutter

Updated frontend
  beakpeek/.gitignore
  beakpeek/.metadata
  beakpeek/README.md
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/bird_map.dart
  beakpeek/lib/main.dart
Due: flutter

Added more testing to the heat map
  beakpeek/lib/View/Home/heat_map.dart
  beakpeek/test/heat_map_test.dart
Due: flutter

Help Test
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/Model/help_icon_model_functions.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
  beakpeek/test/bird_search_functions_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/help_icon_model_functions_test.dart
  beakpeek/test/home_test.dart
Due: flutter

Added get by province
  .github/workflows/flutter.yml
  .github/workflows/main_beakpeekapi.yml
  README.md
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Program.cs
  dotnet/BeakPeekApi/packages.lock.json
  scripts/bash/provinces.txt
Due: dotnet

Help Test
  beakpeek/test/bird_search_functions_test.dart
Due: flutter

Fixed a problem with restore
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

Help Test 2
  beakpeek/lib/Model/bird_search_functions.dart
Due: flutter
