Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

Changed some credentials on azure
  .github/workflows/main_beakpeekapi.yml
Due: none

Life list added and working
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_test.dart
Due: flutter

Fixed problems with migrations and removed old unused migrations and updated the docker image to use the version that was being used before it got updated
  docker-compose.yml
  dotnet/BeakPeekApi/Migrations/20240623142609_Initial.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240716100820_BeakPeekDB_migration.cs
  dotnet/BeakPeekApi/Migrations/20240731114203_Production_1.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240731114203_Production_1.cs
  dotnet/BeakPeekApi/Program.cs
  dotnet/BeakPeekApi/appsettings.Development.json
Due: dotnet

Changed the workflow to rather use migrations once the api is deployed
  .github/workflows/main_beakpeekapi.yml
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

ensuring that the workflow copies the appsettings.json that does not contain the secret
  .github/workflows/main_beakpeekapi.yml
Due: none

Moved appsetting copy command to proper place
  .github/workflows/main_beakpeekapi.yml
Due: none

Added an endpoint for importing from path
  dotnet/BeakPeekApi/Controllers/ImportController.cs
Due: dotnet

Fixed a problem whith the csv importer
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Progress bars added yay im amazing
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

Fixed
  beakpeek/lib/Styles/bird_page_styles.dart
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/Styles/landing_page_styles.dart
  beakpeek/lib/Styles/profile_page_styles.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Login/landing_tab_1.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  dotnet/.gitignore
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi/.vscode/launch.json
  dotnet/BeakPeekApi/.vscode/tasks.json
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Program.cs
Due: flutter, dotnet

Adding test
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Map/bird_map_test.mocks.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/local_storage_test.mocks.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_test.dart
  beakpeek/test/lifelistprovider/life_list_provider_test.dart
  beakpeek/test/lifelistprovider/life_list_provider_test.mocks.dart
Due: flutter

adding test
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/life_list_provider_test.dart
  beakpeek/test/life_list_provider_test.mocks.dart
Due: flutter

Testing
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/Searching/life_list_provider_test.mocks.dart
  beakpeek/test/life_list_provider_test.dart
  beakpeek/test/lifelistprovider/life_list_provider_test.dart
  beakpeek/test/lifelistprovider/life_list_provider_test.mocks.dart
Due: flutter

ERDsketch
  doc/DatabaseERD/databaseRedesignSketch.drawio
Due: none

Update databaseRedesignSketch.drawio
  doc/DatabaseERD/databaseRedesignSketch.drawio
Due: none

Addeding the base structures for the databse revamp
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Migrations/AppDbContextModelSnapshot.cs
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
  dotnet/BeakPeekApi/Models/ProvinceList.cs
  res/species_list/sout_africa.csv
Due: dotnet

Dot Net Fix
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Most of the basic database refactor done but not tested
  docker-compose.yml
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Controllers/ImportController.cs
  dotnet/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Models/Bird_Province.cs
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
  dotnet/BeakPeekApi/Models/ProvinceList.cs
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Life List provider Test
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Database/life_list_provider_test.dart
  beakpeek/test/Database/life_list_provider_test.mocks.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
Due: flutter

Life List provider Test
  beakpeek/test/UserProfile/local_storage_test.dart
Due: flutter

Got the database refactor to a mostly working space
  dotnet/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Models/Bird_Province.cs
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
  dotnet/BeakPeekApi/Program.cs
  res/species_list/south_africa.csv
  res/testData/kwazulunatal.csv
Due: dotnet

Fixed landing text
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
Due: flutter

Fixed routing on home page and cleaned up profile page
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Added the functionality to open on the users location and show a marker.
  .vscode/settings.json
  beakpeek/android/build.gradle
  beakpeek/android/settings.gradle
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

Finished The database to the point where the database can run
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Controllers/BirdInfoController.cs
  dotnet/BeakPeekApi/Controllers/ImportController.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
  dotnet/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BeakPeekApi/Migrations/20240731114203_Production_1.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240731114203_Production_1.cs
  dotnet/BeakPeekApi/Migrations/20240805134815_Production_1.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240805134815_Production_1.cs
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/Models/Bird.cs
  dotnet/BeakPeekApi/Models/BirdInfoModel.cs
  dotnet/BeakPeekApi/Models/Bird_Province.cs
  dotnet/BeakPeekApi/Models/Dto.cs
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
  dotnet/BeakPeekApi/Models/ProvinceList.cs
  dotnet/BeakPeekApi/Program.cs
  dotnet/BeakPeekApi/packages.lock.json
Due: dotnet

Improved search bar, better logo, home redone with space for quiz achievements and wishlist
  beakpeek/assets/icons/Logo.png
  beakpeek/assets/icons/Logo_no_text.png
  beakpeek/assets/images/quiz_placeholder.png
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
Due: flutter

Removed unecessary code
  beakpeek/lib/View/Home/home.dart
Due: flutter

Added image placeholder for quiz
  beakpeek/lib/View/Home/home.dart
  beakpeek/pubspec.yaml
Due: flutter

Home page done, bird page linked to navbar
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/home.dart
Due: flutter

Commented out unecessary imports for now
  beakpeek/lib/View/Home/home.dart
Due: flutter

Removed unecessary import
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
Due: flutter

Database refactor is complete and ready for deployment
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi.Tests/Controllers/ImportControllerTest.cs
  dotnet/BeakPeekApi.Tests/Helpers/CsvImporterTest.cs
  dotnet/BeakPeekApi.Tests/packages.lock.json
  dotnet/BeakPeekApi.Tests/species_list/south_africa.csv
  dotnet/BeakPeekApi.Tests/testData/kwazulunatal.csv
  dotnet/BeakPeekApi.Tests/testData/westerncape.csv
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Helpers/CsvImporter.cs
Due: dotnet

Fixed a missing brace
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Made it so that the species list is included in the deployment
  .github/workflows/main_beakpeekapi.yml
Due: none

Added the auto migration and import for production
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Added a small test for the map
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/test/Map/bird_map_model_test.dart
  beakpeek/test/Map/map_test.dart
Due: flutter

Created the Bird Quiz Widget and its testing
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/test/bird_quiz_test.dart
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: flutter, dotnet

Removed old migration files and fixed the docker compose
  docker-compose.yml
  dotnet/BeakPeekApi/Migrations/20240623142609_Initial.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240623142609_Initial.cs
  dotnet/BeakPeekApi/Migrations/20240716100820_BeakPeekDB_migration.Designer.cs
  dotnet/BeakPeekApi/Migrations/20240716100820_BeakPeekDB_migration.cs
Due: none

Path conditions:
  flutter: any of: beakpeek/**, but not: dotnet/BeakPeekApi/Migrations
  dotnet: any of: dotnet/**, but not: dotnet/BeakPeekApi/Migrations
