Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

🔥 Removed unused imports
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
Due: flutter

🛠️ fix UserPrfile spelling
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
Due: flutter

✨ Feat: Added JWT generation for all forms of signing in
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/LoginWith2fa.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/LoginWithRecoveryCode.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Logout.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml.cs
  dotnet/UserApi/UserApi/Services/AuthHandler.cs
Due: dotnet

✨ Feat: Added more information for Achiements
  dotnet/UserApi/UserApi/Controllers/AchievementController.cs
  dotnet/UserApi/UserApi/Models/Achievement.cs
  dotnet/UserApi/UserApi/Views/Achievement/Create.cshtml
  dotnet/UserApi/UserApi/Views/Achievement/Edit.cshtml
  dotnet/UserApi/UserApi/Views/Achievement/Index.cshtml
  dotnet/UserApi/UserApi/Views/Shared/DisplayTemplates/imageDisplay.cshtml
Due: dotnet

✨ Feat: Added a User Api for interacting with users without a view
  dotnet/UserApi/UserApi/Controllers/UserController.cs
Due: dotnet

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_beakpeekuserapi.yml
Due: none

✨ Feat: Added Initial Migrations with finalised first model
  dotnet/UserApi/UserApi/Data/ApplicationDbContext.cs
  dotnet/UserApi/UserApi/Migrations/20240924125426_Initial.Designer.cs
  dotnet/UserApi/UserApi/Migrations/20240924125426_Initial.cs
  dotnet/UserApi/UserApi/Migrations/ApplicationDbContextModelSnapshot.cs
  dotnet/UserApi/UserApi/Models/AppUser.cs
Due: dotnet

🔥 Removed the ability to edit users
  dotnet/UserApi/UserApi/Views/AppUser/Edit.cshtml
  dotnet/UserApi/UserApi/Views/AppUser/Index.cshtml
Due: dotnet

🔧 Fix: Fixed a problem with getting a user from an external provider
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/ExternalLogin.cshtml.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/Index.cshtml
Due: dotnet

✨ Feat: Added An endpoint for logging in and for adding achievements
  dotnet/UserApi/UserApi/Controllers/UserController.cs
Due: dotnet

🧪 Test: Added the base code needed to write unit tests for the user api
  dotnet/UserApi/UserApi.Tests/GlobalUsings.cs
  dotnet/UserApi/UserApi.Tests/UnitTest1.cs
  dotnet/UserApi/UserApi.Tests/UserApi.Tests.csproj
  dotnet/UserApi/UserApi.sln
Due: dotnet

✨ Feat: Added all of the config needed to deploy the UserApi
  dotnet/UserApi/UserApi/Controllers/UserRolesController.cs
  dotnet/UserApi/UserApi/Program.cs
  dotnet/UserApi/UserApi/UserApi.csproj
  dotnet/UserApi/UserApi/Views/Home/Index.cshtml
Due: dotnet

👷 Added a workflow for deploying The user api and changed some conditions
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_userapi.yml
  .github/workflows/dotnet.yml
Due: none

🔧 Fix: Using the wrong connection string on the server
  dotnet/UserApi/UserApi/Program.cs
Due: dotnet

✨ Feat: Added the ability to login with the hosted user api
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/Azure/login.dart
Due: flutter

👷 Changed it so that the user api will only be deployed on dev
  .github/workflows/deploy_userapi.yml
Due: none

💄 Centered life list filters, removed text from nav, removed logos, changed dark mode icon to be correct, changed exp bar styles, added nav to life list, changed landing page image
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

💄 Added navbar to profile page, created basic settings page, removed weird empty space on life list
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/View/Map/map_info.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

💄 Added settings subfolder in view folder
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

💄 Improved settings page styles, removed dark mode switch from user profile and added to settings
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

💄 Settings page styled
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

💄 Removed profile editing functionality from profile page (needs to be implemented in settings)
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

💄 Removed achievements from home page
  beakpeek/lib/View/Home/home.dart
Due: flutter

🐛 Fixed help message on home page, fixed back arrow on bird page
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

💄 Changed styling of search dropdown on home page
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
Due: flutter

💄 Added room for images on home page
  beakpeek/lib/View/Home/home.dart
Due: flutter

💄 Improved loading message on home page
  beakpeek/lib/View/Home/home.dart
Due: flutter

💄 Fixed shadows on settings page
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

💄 Fixed overflow on settings, added achievements page, added scroll bar on home page, fixed spacing on home page
  beakpeek/assets/icons/achievements.svg
  beakpeek/assets/icons/achievementsDark.svg
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/pubspec.yaml
Due: flutter

💄 Styled achievements page, added mock achievements and placeholder code
  beakpeek/lib/View/Achievements/achievements_page.dart
Due: flutter

💄 Small changes before merge
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
Due: flutter

✨ Feat: Hooked up the frontend to the user api
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Model/UserProfile/achievement.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/config_azure.dart
  beakpeek/lib/main.dart
Due: flutter

⬆️ Upgraded flutter web auth to 4.0
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  dotnet/UserApi/UserApi/Controllers/UserRolesController.cs
Due: flutter, dotnet

🛠️ Fix: fixed problems with intent handlers
  beakpeek/android/app/src/main/AndroidManifest.xml
Due: flutter

update life_list_provider.dart, quiz_manager.dart, sound_controller.dart and bird_page.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Controller/Home/sound_controller.dart
  beakpeek/lib/View/Bird/bird_page.dart
Due: flutter

Cache the Birds near you
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/home.dart
Due: flutter

:sparkles: Heat map monthly filter
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

🛠️ fix:SqlLite and images update 10 files
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/config_azure.dart
  beakpeek/pubspec.lock
Due: flutter

✨Introduce new features. 🎨Improve structure / format of the code. update 16 files
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/linux/flutter/generated_plugin_registrant.cc
  beakpeek/linux/flutter/generated_plugins.cmake
  beakpeek/macos/Flutter/GeneratedPluginRegistrant.swift
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/windows/flutter/generated_plugin_registrant.cc
  beakpeek/windows/flutter/generated_plugins.cmake
Due: flutter

added the colour scheme functionality and legend to the heat map
  beakpeek/lib/Controller/Main/color_palette_functions.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Due: flutter
