Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BirdApi/BeakPeekApi/Migrations"
  - "dotnet/BirdApi/BeakPeekApi/Program.cs"

💄Fixed the ui of the game over screen
  beakpeek/lib/Styles/colors.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
Due: flutter

🛠️Fixed the caching of the birds Near you
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/home.dart
Due: flutter

🔨 Added Fastlane for building and deploying flutter app to google play and play store
  beakpeek/Fastfile
  beakpeek/android/Gemfile
  beakpeek/android/Gemfile.lock
  beakpeek/android/app/build.gradle
  beakpeek/android/fastlane/Appfile
  beakpeek/android/fastlane/Fastfile
  beakpeek/android/fastlane/Pluginfile
  beakpeek/android/fastlane/README.md
  beakpeek/bootstrap_fastlane.dart
  beakpeek/ios/Gemfile
  beakpeek/ios/fastlane/Appfile
  beakpeek/ios/fastlane/Fastfile
  beakpeek/ios/fastlane/Matchfile
  beakpeek/ios/fastlane/Pluginfile
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

🚀 Added deployment workflow for flutter
  .github/workflows/deploy_flutter.yml
Due: none

🔨 Fixed a spelling mistake in the uses test workflow and required it top pass
  .github/workflows/deploy_flutter.yml
Due: none

🔨 Allowed the flutter tests to be called from other workflows
  .github/workflows/flutter.yml
Due: none

📄 Added Documents for the devops, datascience and algorithms awards
  .github/workflows/deploy_flutter.yml
  doc/Awards/Algorithms/algorithms.tex
  doc/Awards/Datascience/datascience.tex
  doc/Awards/DevOps/devops.tex
Due: none

💄 Made workflow names prettier and more descriptive
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_flutter.yml
  .github/workflows/deploy_userapi.yml
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
Due: none

🛠️ Fixed some spelling mistakes
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_flutter.yml
  .github/workflows/flutter.yml
Due: none

📝Updated the awards documentation
  doc/Awards/Algorithms/algorithms.tex
  doc/Awards/Datascience/datascience.tex
Due: none

🚀 Added a reusable workflow for discord messages and added a full_pipe workflow
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_flutter.yml
  .github/workflows/deploy_userapi.yml
  .github/workflows/discord.yml
  .github/workflows/flutter.yml
  .github/workflows/full_pipeline.yml
Due: none

🚀 Added workflow call in its relevant places
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_userapi.yml
Due: none

🚀 Added write permissions for the dotnet deployment workflows
  .github/workflows/full_pipeline.yml
Due: none

🚀 Added caching for all dependencies
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_flutter.yml
  .github/workflows/deploy_userapi.yml
  .github/workflows/flutter.yml
Due: none

📝 doc: update algorithms.tex
  doc/Awards/Algorithms/algorithms.tex
Due: none

📝 doc: update datascience.tex
  doc/Awards/Datascience/datascience.tex
Due: none

🚀 Fixed some problems with cash configurations
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_flutter.yml
  .github/workflows/deploy_userapi.yml
Due: none

🚀 Added the package.lock.json used for dependency caching
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_userapi.yml
  dotnet/UserApi/UserApi/UserApi.csproj
  dotnet/UserApi/UserApi/packages.lock.json
Due: dotnet

:pencil: Updated the Algorithms and Data Science documentation
  doc/Awards/Algorithms/algorithms.tex
  doc/Awards/Datascience/datascience.tex
Due: none

🚀 Added auto labeler for pull requests
  .github/labeler.yml
  .github/workflows/full_pipeline.yml
  .github/workflows/labeler.yml
Due: none

🚀 Changed how often the labeler runs
  .github/workflows/labeler.yml
Due: none

🔥 Added the linux and macos files to the ignore
  beakpeek/linux/.gitignore
  beakpeek/linux/CMakeLists.txt
  beakpeek/linux/flutter/CMakeLists.txt
  beakpeek/linux/flutter/generated_plugin_registrant.cc
  beakpeek/linux/flutter/generated_plugin_registrant.h
  beakpeek/linux/flutter/generated_plugins.cmake
  beakpeek/linux/main.cc
  beakpeek/linux/my_application.cc
  beakpeek/linux/my_application.h
  beakpeek/macos/.gitignore
  beakpeek/macos/Flutter/Flutter-Debug.xcconfig
  beakpeek/macos/Flutter/Flutter-Release.xcconfig
  beakpeek/macos/Flutter/GeneratedPluginRegistrant.swift
  beakpeek/macos/Podfile
  beakpeek/macos/Runner.xcodeproj/project.pbxproj
  beakpeek/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  beakpeek/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  beakpeek/macos/Runner.xcworkspace/contents.xcworkspacedata
  beakpeek/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  beakpeek/macos/Runner/AppDelegate.swift
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  beakpeek/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  beakpeek/macos/Runner/Base.lproj/MainMenu.xib
  beakpeek/macos/Runner/Configs/AppInfo.xcconfig
  beakpeek/macos/Runner/Configs/Debug.xcconfig
  beakpeek/macos/Runner/Configs/Release.xcconfig
  beakpeek/macos/Runner/Configs/Warnings.xcconfig
  beakpeek/macos/Runner/DebugProfile.entitlements
  beakpeek/macos/Runner/Info.plist
  beakpeek/macos/Runner/MainFlutterWindow.swift
  beakpeek/macos/Runner/Release.entitlements
  beakpeek/macos/RunnerTests/RunnerTests.swift
Due: flutter

🙈 Added the linux and macos files to the ignored files
  beakpeek/.gitignore
Due: flutter

🏷 Documentation labels are now applied to the right branches
  .github/labeler.yml
Due: none

🚀 Labeler now runs most of the time
  .github/workflows/labeler.yml
Due: none

🛠️ fix: Updated the functionality of the endangered
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

🙈 Ignored unnecessary latex files
  doc/.gitignore
Due: none

✨ Added and fixed endpoints needed to update and import birds
  dotnet/BirdApi/BeakPeekApi/Controllers/ImportController.cs
  dotnet/BirdApi/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BirdApi/BeakPeekApi/appsettings.Development.json
Due: dotnet

👷 Added a script to download and update birds for the bird api
  scripts/bash/auto_import.sh
  scripts/bash/download_regions.sh
Due: none

🚀 Added a workflow to automatically update and import birds
  .github/workflows/update_birds.yml
Due: none

🚀 Added a the update birds workflow to the bird api deploy workflow
  .github/workflows/deploy_dotnet.yml
Due: none

🛠🧪 Fixed test that was failing because ImportCsvData mock did not return a Task
  dotnet/BirdApi/BeakPeekApi.Tests/Controllers/ImportControllerTest.cs
Due: dotnet

🛠️ Fixed some problems with the auto import script not using the correct csv files
  .github/workflows/update_birds.yml
  scripts/bash/auto_import.sh
Due: none

🚀 Removed an unused push on event
  .github/workflows/update_birds.yml
Due: none

🔥 Removed extra beakpeek directory and added it to gitignore
  .gitignore
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/device_info_plus
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/flutter_web_auth_2
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/window_to_front
  BeakPeek/linux/flutter/generated_plugin_registrant.cc
  BeakPeek/linux/flutter/generated_plugin_registrant.h
  BeakPeek/linux/flutter/generated_plugins.cmake
  BeakPeek/macos/Flutter/GeneratedPluginRegistrant.swift
  BeakPeek/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
  BeakPeek/macos/Flutter/ephemeral/flutter_export_environment.sh
Due: none

🚀 Fixed a problem with the two dotnet deployment workflows running unecessarily
  .github/workflows/deploy_dotnet.yml
  .github/workflows/deploy_userapi.yml
Due: none

🛠️ Fixed a misconfiguration of the user api deployment workflow
  .github/workflows/deploy_userapi.yml
Due: none

👷 Made it so that uploads to google play only happen if the version name isn't already on google play
  .github/workflows/deploy_flutter.yml
  beakpeek/Fastfile
  beakpeek/android/fastlane/Fastfile
  beakpeek/android/fastlane/README.md
Due: flutter

🚀 Improved the dotnet and flutter coverage workflows
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
Due: none

🚀 Made it so that the coverage workflows run for branches with devops in the name
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
Due: none
