Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BeakPeekApi/Migrations"

Fully deployed the app and fixed an endpoint
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/heat_map.dart
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: flutter, dotnet

Conflicsts resolved
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/bird_quiz_test.dart
  beakpeek/test/bird_sheet_test.dart
Due: flutter

SRS update
  .gitignore
  doc/SRS_SoftwareRequirementSpecification/SRSv1.pdf
  doc/SRS_SoftwareRequirementSpecification/SRSv2.pdf
  doc/SRS_SoftwareRequirementSpecification/SRSv3.pdf
Due: none

Final SRS for Demo 3
  doc/SRS_SoftwareRequirementSpecification/SRSv3.pdf
Due: none

User Manual Created
  doc/Manuals/UserManual.pdf
Due: none

Fixed the heat map so it will work with the deployed api
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

Removed commented code
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

Fixed sightings page for users with no sightings
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

Updated search bar styles
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
Due: flutter

Removed import
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
Due: flutter

Fixed spacing issue on map page
  beakpeek/lib/View/Map/map_info.dart
Due: flutter

Fix serach
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_search_functions.dart
Due: flutter

Improved search result styling
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

Search bar styling done
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

Updated the heat map so that it is quicker
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

finished off the heat map and implemented the birds near you
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_sheet.dart
Due: flutter

Finished quiz page
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Quiz/main.dart
Due: flutter

Improved bird page
  beakpeek/lib/View/Bird/bird_page.dart
Due: flutter

Removed link to bird page on nav bar
  beakpeek/lib/Model/nav.dart
Due: flutter

fix
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

Added The installation manual
  doc/Manuals/Installation.md
Due: none

Improved home page styling
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/home.dart
Due: flutter

Test/ redirect
  beakpeek/test/Azure/login_test.dart
Due: flutter

fix/ merge
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/test/Azure/Login/login_test.dart
  beakpeek/test/Database/life_list_provider_test.dart
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/home_test.dart
Due: flutter

Fix hope
  beakpeek/test/home_test.dart
Due: flutter

User Manual Final
  doc/Manuals/UserManual.pdf
Due: none

Fix hope
  beakpeek/.gitignore
Due: flutter

Help content
  .gitignore
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

Delete beakpeek/test/home_test.dart
  beakpeek/test/home_test.dart
Due: flutter

Delete beakpeek/test/bird_sheet_test.dart
  beakpeek/test/bird_sheet_test.dart
Due: flutter

Delete beakpeek/test/Map/map_info_test.dart
  beakpeek/test/Map/map_info_test.dart
Due: flutter

Delete beakpeek/test/Map/map_test.dart
  beakpeek/test/Map/map_test.dart
Due: flutter

Help content done
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

LevelProg
  beakpeek/.gitignore
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

fix
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

Added code quality tex and pdf
  doc/Code_Qaulity/CodeQaulity.pdf
  doc/Code_Qaulity/CodeQaulity.tex
Due: none

Final touch-ups
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

Added tex document for installation manual
  doc/Installation/Installation_Manual.pdf
  doc/Installation/Installation_Manual.tex
Due: none

Added install pdf
  doc/Installation/Installation_Manual.pdf
Due: none
