Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

📝 doc: Charl README changes.
  BeakPeek/.vscode/settings.json
  README.md
  res/Charl.jpg
Due: none

💄 Styled import and export buttons and fixed icons on settings page
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

💄 Styled export button popup
  BeakPeek/lib/Controller/DB/import_export.dart
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

📝 doc: README changes
  README.md
Due: none

📝 doc: Email added
  README.md
Due: none

📝 doc: Awaiting Everyone's Email
  README.md
Due: none

Fix upload change 0
  BeakPeek/lib/Controller/DB/import_export.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/test/Home/home_test.dart
  beakpeek/test/Map/bird_map_test.dart
  beakpeek/test/Map/bird_sheet_test.dart
  beakpeek/test/Map/heat_map_test.dart
  beakpeek/test/Models/achievements_test.dart
Due: flutter

Fix upload change 0
  BeakPeek/lib/Controller/DB/import_export.dart
Due: none

📝 doc: Group member emails added
  README.md
Due: none

💄 Styled user portal
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml
  dotnet/UserApi/UserApi/Views/Home/Index.cshtml
  dotnet/UserApi/UserApi/Views/Home/Privacy.cshtml
  dotnet/UserApi/UserApi/wwwroot/css/site.css
Due: dotnet

📃 Updated Readme
  README.md
Due: none

📃 Final devops
  doc/Awards/Assets/andoird.png
  doc/Awards/Assets/codecov.png
  doc/Awards/Assets/coverage_generate.png
  doc/Awards/Assets/coverage_yml.png
  doc/Awards/Assets/deploy_user.png
  doc/Awards/Assets/full.png
  doc/Awards/Assets/full_pipe.png
  doc/Awards/Assets/full_pipe_done.png
  doc/Awards/Assets/full_pipe_main.png
  doc/Awards/Assets/get_bird.png
  doc/Awards/Assets/grafan_user_api.png
  doc/Awards/Assets/load_test_graph.png
  doc/Awards/Assets/load_test_load.png
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
Due: none

🔥 Removed old test
  beakpeek/test/Controllers/Main/routing_data_test.dart
Due: flutter

📃 Fixed a spelling mistake
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
Due: none

📝 Update README.md
  README.md
Due: none

📃 Update README.md
  README.md
Due: none

🛠️ Fix: Fixing path problems with a directory `BeakPeek` being tracked alongside the directory `beakpeek`.
  .gitignore
  beakpeek/lib/Controller/DB/import_export.dart
  beakpeek/pubspec.yaml
Due: flutter

🔥 Removed the incorrect `BeakPeek` directory
  BeakPeek/.vscode/settings.json
  BeakPeek/lib/Controller/DB/import_export.dart
Due: none

📃 Final Poject day touch ups
  README.md
Due: none

Path conditions:
  flutter: any of: beakpeek/**, but not: dotnet/BirdApi/BeakPeekApi/Migrations, dotnet/BirdApi/BeakPeekApi/Program.cs
  dotnet: any of: dotnet/**, but not: dotnet/BirdApi/BeakPeekApi/Migrations, dotnet/BirdApi/BeakPeekApi/Program.cs
