Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

📝 doc: Useability test feedback fixes
  doc/UserTest/UseabilityTestFeedback.pdf
Due: none

💄 Centered filters on life list and added label, changed edited text on profile page
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

💄 Added nav bar to life list
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

💄 Removed logo from home and map page
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/home.dart
Due: flutter

💄 Removed text from nav bar items
  beakpeek/lib/Model/nav.dart
Due: flutter

🔧 Fixed a problem with a null reference when getting birds pentads by ref
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: dotnet

:bug: Fixed merge conflicts
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Login/landing_page.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

✨Introduce new features.⚡️Improve performance.
  beakpeek/lib/Controller/DB/achievements_provider.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Controller/Home/search.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/BirdInfo/province_data.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

✨Introduce new features.
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
Due: flutter

Deployment Diagram
  doc/ArchDiagram/BeakPeekDeploymentDiagram.drawio
Due: none

✨Introduce new features.
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Bird/bird_page.dart
Due: flutter

🔧 Fix null reference for bird
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: dotnet

✨ feat: Population functions added
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

✨ feat: life list provider changes to accommodate population
  beakpeek/lib/Controller/DB/life_list_provider.dart
Due: flutter

🛠️ fix: population column added
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

:sparkles: feat: color palette functionality
  beakpeek/lib/Controller/Main/color_palette_functions.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Map/heat_map_info.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Due: flutter

🎨 Improved the routing of the Bird Page
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/main.dart
Due: flutter

🛠️ fix: Fixed the getBirdPentads api call
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
Due: dotnet

✨ Feat: Created a script for querying the api for all birds by ref
  scripts/bash/update_bird_images.sh
Due: none

🛠️ fix: integer error fixed
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

🛠️ fix: Fixed an error in Bird.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

🛠️ fix: minor population fix
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

📝 doc: Project Management Discussion Added
  doc/Project Management Discussion.pdf
Due: none

✨ Feat: Added a display for images
  dotnet/UserApi/UserApi/Views/AppUser/Details.cshtml
  dotnet/UserApi/UserApi/Views/AppUser/Index.cshtml
  dotnet/UserApi/UserApi/Views/Shared/DisplayTemplates/imageDisplay.cshtml
Due: dotnet

🔧 Fix: Fixed some swagger gen discovery
  dotnet/UserApi/UserApi/Controllers/AppRoleController.cs
  dotnet/UserApi/UserApi/Controllers/AppUserController.cs
Due: dotnet

🍱 Updated allBirds.json
  beakpeek/assets/BirdList/allbirds.json
Due: flutter

⚡️Implemented the offline loading of Bird Page
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Bird/bird_page.dart
Due: flutter

🛠️ fix: population addition to more accurately reflect true value.
  beakpeek/lib/Model/bird_page_functions.dart
Due: flutter

✨Introduce new features. update 8 files
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Controller/Main/color_palette_functions.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
Due: flutter

update life_list_provider.dart and bird.dart 🛠️ fix: bird model
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
Due: flutter

:sparkles: feat: added offline images to the quiz
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Model/quiz_instance.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
Due: flutter

:sparkles: feat: added images next to the birds in the search bar
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
Due: flutter

🛠️ fix:fixed a state issue with the sound player
  beakpeek/lib/Controller/Home/sound_controller.dart
  beakpeek/lib/View/Bird/bird_page.dart
Due: flutter

🛠️ fix:Fixed the lifelist and back button
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/heat_map_test.dart
Due: flutter

:fire: Removed 2 tests
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/heat_map_test.dart
Due: flutter

💄 Changed style of EXP progress bar on profile
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
Due: flutter

🛠️ fix UserPrfile spelling
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/lib/View/Sightings/sighting_widgets.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_test.dart
  beakpeek/test/heat_map_test.dart
Due: flutter

Path conditions:
  flutter: any of: beakpeek/**, but not: dotnet/BeakPeekApi/Migrations
  dotnet: any of: dotnet/**, but not: dotnet/BeakPeekApi/Migrations
