Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

Fixed the appsettings not being copied for the workflow
  .github/workflows/main_beakpeekapi.yml
Due: none

Added the appsettings needed for deployment
  appsettings.json
Due: none

Updated home.test
  beakpeek/test/home_test.dart
Due: flutter

Update Program.cs Trying to see if its a problem with running the import
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Update Program.cs remove all imports to test if that fixes deployment
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed the appsettings.json which was missing a brace
  appsettings.json
Due: none

Made it so that the birds are imported when the webapp starts up
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_beakpeekbirdapi.yml
Due: none

Changed where the database is deployed to
  .github/workflows/deploy_dotnet.yml
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

made the workflow run once
  .github/workflows/deploy_dotnet.yml
Due: none

Fixed it so that the correct connection string is used when in production
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed connection string
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Figuring out the Azure 'Magic'
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Added more verbose exception
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Made backup possible connection strings
  .github/workflows/deploy_dotnet.yml
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

Fixed a spelling mistake
  .github/workflows/deploy_dotnet.yml
Due: none

Home page done, map page done, bird page done, profile waiting on life list, help icons done
  beakpeek/lib/Model/help_icon.dart
  beakpeek/lib/Model/help_icon_model_functions.dart
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/map_info.dart
  beakpeek/test/Searching/searchbar_container_test.dart
Due: flutter

Full Rebase of heat map
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/heat_map.dart
  beakpeek/lib/View/Home/heat_map_info.dart
Due: flutter

Full rebase of bird model
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/test/bird_quiz_test.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/heat_map_test.dart
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Due: flutter, dotnet

Achivement Finished
  beakpeek/devtools_options.yaml
  beakpeek/lib/Controller/DB/achievements_provider.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/achievement.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
Due: flutter

Fixed a dotnet test
  dotnet/BeakPeekApi.Tests/Controllers/BirdInfoControllerTest.cs
Due: dotnet

format fix
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Removed life list and dark mode from profile
  beakpeek/lib/Styles/profile_page_styles.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Removed home button and added back button and settings button on profile
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Removed unused import
  beakpeek/lib/View/UserProfile/user_profile.dart
Due: flutter

Integrated the quiz and maps with the bird page
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/main.dart
Due: flutter

Testing fixes
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/bird_search.dart
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Database/life_list_provider_test.dart
  beakpeek/test/Map/map_info_test.dart
  beakpeek/test/Map/map_test.dart
  beakpeek/test/Model/bird_test.dart
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/bird_quiz_test.dart
  beakpeek/test/bird_sheet_test.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/home_test.dart
Due: flutter

more Tests
  beakpeek/test/Styles/global_styles_test.dart
Due: flutter

Made bird sheet visible, made landing tabs responsive
  beakpeek/lib/Styles/global_styles.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Login/landing_tab_1.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
Due: flutter

Removed unecessary variable
  beakpeek/lib/View/Login/landing_tab_2.dart
Due: flutter

more Tests
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/test/Styles/global_styles_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
Due: flutter

Testing fixes
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Home/bird_page.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/main.dart
  beakpeek/test/Model/bird_test.dart
Due: flutter

Finished the monthly filtering
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/heat_map.dart
Due: flutter

Fixed nav issue
  beakpeek/lib/Model/nav.dart
Due: flutter

Added Justin's tests
  beakpeek/test/bird_sheet_test.dart
Due: flutter

Adding some changes to dotnet
  dotnet/BeakPeekApi/Program.cs
Due: dotnet

redirect fixes
  beakpeek/lib/Model/nav.dart
Due: flutter

fix
  beakpeek/lib/Model/nav.dart
Due: flutter

Fixed it so that the api key is also pulled from the environment
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Due: dotnet

search text
  beakpeek/lib/Model/bird_search_functions.dart
Due: flutter

Path conditions:
  flutter: any of: beakpeek/**, but not: dotnet/BeakPeekApi/Migrations
  dotnet: any of: dotnet/**, but not: dotnet/BeakPeekApi/Migrations
