Repository COS301-SE-2024/BeakPeek: changes, and which Codecov flags are due for each by the changed paths.
All: flutter, dotnet

codecov.yml:

component_management:
  individual_components:
    - component_id: famework_flutter
      name: flutter
      paths:
        - beakpeek/**
    - component_id: framework_dotnet
      name: dotnet
      paths:
        - dotnet/**

ignore:
  - "dotnet/BirdApi/BeakPeekApi/Migrations"
  - "dotnet/BirdApi/BeakPeekApi/Program.cs"

🧪 test:Models create 7 files and delete 1 file
  BeakPeek/test/Model/Bird/bird_test.dart
  BeakPeek/test/Model/Bird/pentad_test.dart
  BeakPeek/test/Model/Bird/province_test.dart
  BeakPeek/test/Model/LandingText/login_stack_test.dart
  BeakPeek/test/Model/LandingText/signup_stack_test.dart
  BeakPeek/test/Model/UserProfile/achievement_test.dart
  BeakPeek/test/Model/UserProfile/user_profile_functions_test.dart
  beakpeek/test/Model/bird_test.dart
Due: flutter

update pubspec.lock
  beakpeek/pubspec.lock
Due: flutter

New clone commit
  .vscode/settings.json
  beakpeek/README.md
  beakpeek/pubspec.lock
Due: flutter

🔥Remove .vscode file
  BeakPeek/.vscode/settings.json
Due: none

🔥 Delete BeakPeek shadow directory
  BeakPeek/assets/Legal/combinepdf.pdf
  BeakPeek/test/Model/Bird/bird_test.dart
  BeakPeek/test/Model/Bird/pentad_test.dart
  BeakPeek/test/Model/Bird/province_test.dart
  BeakPeek/test/Model/LandingText/login_stack_test.dart
  BeakPeek/test/Model/LandingText/signup_stack_test.dart
  BeakPeek/test/Model/UserProfile/achievement_test.dart
  BeakPeek/test/Model/UserProfile/user_profile_functions_test.dart
Due: none

🛠️ Fixed a problem with signing in using user api
  dotnet/UserApi/UserApi/Controllers/UserController.cs
Due: dotnet

🛠️ Fix: Fixed the delete button on the admin portal for users and achievements
  dotnet/UserApi/UserApi/Controllers/AchievementController.cs
  dotnet/UserApi/UserApi/Controllers/AppUserController.cs
  dotnet/UserApi/UserApi/Views/AppUser/Delete.cshtml
Due: dotnet

🛠️ fix: Fixed the sorting on the lifelist page
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/pubspec.yaml
Due: flutter

💄 UI Update: Darkened text on XP bar.
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
Due: flutter

💄 UI Update: Better text readability for endangered species on heat map.
  beakpeek/lib/View/Map/heat_map.dart
Due: flutter

💄 UI Update: Removed dropdown for filters on heat map, changed buttons and styled the section.
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

💄 UI: Changed the user management portal top only show relevant information
  dotnet/UserApi/UserApi/Views/AppUser/Index.cshtml
Due: dotnet

🔨 Script: Added a script for removing user made by the load test
  scripts/bash/remove_load_test_user.sh
Due: none

✨ feat: Achievments update combinepdf.pdf, life_list_provider.dart, achievment_list.dart and pubspec.yaml
  BeakPeek/assets/Legal/combinepdf.pdf
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/pubspec.yaml
Due: flutter

pull to dev/feat/achiements
  beakpeek/pubspec.yaml
Due: flutter

🔥 Delete BeakPeek/assets/Legal directory
  BeakPeek/assets/Legal/combinepdf.pdf
Due: none

🛠️ Fix: Added back the combinepdf
  beakpeek/assets/Legal/combinepdf.pdf
Due: flutter

✨ feat: Migrate the lifelist when on a new phone
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
Due: flutter

💄 UI Update: Styled the login and register web pages.
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml
Due: dotnet

🔥 Removed old unused workflow files
  .github/workflows/main_beakpeekbirdapi.yml
  .github/workflows/main_beakpeekuserapi.yml
Due: none

📝 doc: Final user manual added
  doc/Manuals/UserManual.pdf
Due: none

🛠️ Fix: Life list achivements update life_list_provider.dart, achievment_list.dart and achievements_page.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
Due: flutter

🐛 Fixed route on edit profile page save button.
  beakpeek/lib/View/Settings/edit_user_profile.dart
Due: flutter

🛠️ Fix: LiSlow Loading update allbirds.json, life_list_provider.dart and achievment_list.dart
  beakpeek/assets/BirdList/allbirds.json
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
Due: flutter

💄 UI Update: Updated help content on sightings page.
  beakpeek/lib/View/Sightings/sightings.dart
Due: flutter

💄 UI Update: Updated help content on achievements page.
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Due: flutter

update 7 files
  beakpeek/assets/Legal/UserManual.pdf
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/pubspec.yaml
Due: flutter

📝 Doc Updated Readme
  README.md
Due: none

📝 doc: Added screenshot of form results to useability test page
  doc/UserTest/UseabilityTestFeedback.pdf
Due: none

update build.gradle, generated_plugin_registrant.cc, generated_plugins.cmake and GeneratedPluginRegistrant.swift
  beakpeek/android/app/build.gradle
  beakpeek/linux/flutter/generated_plugin_registrant.cc
  beakpeek/linux/flutter/generated_plugins.cmake
  beakpeek/macos/Flutter/GeneratedPluginRegistrant.swift
Due: flutter

✨ feat: Achievments removed async update 8 files
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/main.dart
Due: flutter

♻️Changed the image fetching to use the scientific name
  dotnet/BirdApi/BeakPeekApi/Helpers/BirdImageHelper.cs
Due: dotnet

✨ feat: Import/export delete 5 files and update 12 files
  BeakPeek/lib/Controller/DB/import_export.dart
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/device_info_plus
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/flutter_web_auth_2
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/path_provider_linux
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/url_launcher_linux
  BeakPeek/linux/flutter/ephemeral/.plugin_symlinks/window_to_front
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/linux/flutter/generated_plugin_registrant.cc
  beakpeek/linux/flutter/generated_plugins.cmake
  beakpeek/macos/Flutter/GeneratedPluginRegistrant.swift
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Due: flutter

🛠️ Fixed a critical error when launching the app
  beakpeek/lib/Controller/DB/life_list_provider.dart
Due: flutter

💄Fixed the Theme button in settings
  beakpeek/lib/View/Settings/settings_page.dart
Due: flutter

💄Fixed the loading indicator
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Map/bird_sheet.dart
Due: flutter
